
section{
    padding: 12rem 0;
    overflow: hidden;
}
.section_header{
    text-align: center;
    
}
.section_header h4{
    color: var(--color-primary);
    margin-bottom: 0.5rem;
}

/* ==============HRO SECTION CS========================== */
.hero{
    min-height: 100vh;
    background: linear-gradient(var(--color-gray-0),var(--color-gray-100));
}
body.dark.hero{
    background: linear-gradient(var(--color-gray-200),var(--color-gray-0));
}

.hero_container{
    text-align: center ;
}
.hero_content{
    width: 50%;
    margin-inline: auto;
}
.hero_content p{
    margin-top: 0.5rem;
}
.hero_cta{
    margin-top: 3rem; 
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}
.hero_images{
    width: fit-content;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 4rem;
    justify-content: space-between;
    margin-top: 5rem;
}
.hero_image{
    width: 14rem;
    height: 25rem;
    border-radius: 7rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 0 var(--color-gray-200);
    transition: var(--transition);
}
.hero_image:hover{
    box-shadow: none;
}
.hero_image:nth-child(1),
.hero_image:nth-child(5){
    transform: translateY(-8rem);
}
.hero_image:nth-child(3){
    transform: translateY(8rem);
}


/* ==============About  SECTION CS========================== */    
.about{
    background: var();
}
.about_container{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 10rem;
}
.about_left{
    border-radius: 7rem;
    overflow: hidden;
    box-shadow: 0 2rem 0 var(--color-gray-100);
    transition: var(--transition);
}
.about_left:hover{
    box-shadow: none;
}
.about .section_header{
    text-align: left;
}
.about_container h1{
    margin-bottom: 1rem;
}
.about_right p{
    margin-bottom: 1rem;
}
.about_container a{
    margin-top: 2rem;
}

/* ==============Programs SECTION CS========================== */
.ourprograms{
    background: var(--color-gray-0);
} 
.ourprograms_list{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(15rem ,1fr));
    gap: 4rem;
}
.ourprograms_item{
    background: var(--color-gray-50);
    height: 28rem;
    border-radius: var(--radius-6);
    overflow: hidden;
    box-shadow: 0 1rem 0 var(--color-gray-100);
    transition: var(--transition);
}
.ourprograms_item:hover{
    box-shadow: none;
}
.ourprograms_item-image{
    height: 20rem;
    border-radius: 3rem;
    box-shadow:0 1rem 0 var(--color-gray-0) ;
    overflow: hidden;
}
.ourprograms_item-content{
    padding: 2.5rem 2.5rem;
}
.ourprograms_item-content a{
    display: inline-block;
    color: var(--color-primary);
    margin-top: 1rem;
    font-size: 0.85rem;
}
.ourprograms_item:hover a{
    background: var(--color-gray-0);
    padding: 0.3rem 1.5rem;
    border-radius: var(--radius-1);
}
.ourprograms_item a:hover{
    background-color: var(--color-gray-900);
    color: var(--color-gray-0);

}

/* ==============Programs SECTION CS========================== */
.whyUs_container{
    display: grid;
    grid-template-columns: 1fr  1fr;
    gap: 5rem;
}
.whyUs_left h4{
    color: var(--color-primary);
    margin-bottom: 1rem;
}
.whyUs_left p{
    margin: 0.25rem 0 2.5rem;
}  
.whyUs_right{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
} 
.whyUs_item{
    background: var(--color-gray-0);
    padding: 2rem;
    border-radius: var(--radius-6);
    text-align: center;
    box-shadow: 0 1rem 0 var(--color-gray-100);
    transition: var(--transition);
}
.whyUs_item:hover{
    box-shadow: none;
}
.whyUs_item span {
    background: var(--color-primary);
    width: 4.5rem;
    aspect-ratio: 1/1;
    border-radius: 1.5rem;
    color: var(--color-gray-0);
    font-size: 1.6rem;
    display: grid;
    place-items: center;
    margin-inline: auto;
}
.whyUs_item :nth-child(2)span{
    background: var(--color-danger);
} 
.whyUs_item :nth-child(3)span{
    background: var(--color-succes);
}
.whyUs_item :nth-child(4)span{
    background: var(--color-gray-700);
}
.whyUs_item h4{
    margin: 2rem 0 0.6rem;
}